.contacts
	display: flex
	flex-direction: column
	align-items: center
.contacts_wrap
	display: flex
	flex-direction: row
	justify-content: space-between
	margin-top: 80px
.adress_descr
	width: 22%
	h2
		font-size: 22px
		line-height: 35px
		margin-bottom: 40px
	p
		font-size: 13px
		line-height: 20px
		width: 50%
		color: #666666

.form_wrap
	width: 68%
	clear: both
	h1
		font-size: 24px
		line-height: 35px
		margin-bottom: 50px
form
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap

.name,
.email,
.message
	display: flex
	flex-direction: column
	align-items: flex-start
.name,
.email 
	width: 45%
	margin-bottom: 40px
label
	font-size: 13px
	line-height: 20px
	color: #ccc
input
	width: 100%
	border: none
	border-bottom: 1px solid #ccc
.message
	width: 100%
	margin-bottom: 40px
.social_row
	width: 6%
	display: flex
	flex-direction: column
	align-items: center
	margin-top: 20px
	i.fa
		font-size: 25px
		line-height: 25px
		color: #ccc
		margin-bottom: 25px
.send
	float: right
	i.fa
		color: #5084A3
		font-size: 20px
		line-height: 20px
		margin-right: 10px
	a
		font-size: 16px
		line-height: 16px
		text-decoration: none
		color: #000
			