@import "fonts"
@import "libs"
@import "vars"
@import "header"
@import "features"
@import "works"
@import "gallery"
@import "team"
@import "facts"
@import "contacts"
@import "footer"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

h1,h2,h3,h4,h5,h6,p,span,ul
	padding: 0
	margin: 0
img
	display: block
.container
	width: 90%
	max-width: 1170px
section
	padding: 70px 0
	display: flex
	justify-content: center
.title
	width: 230px
	display: flex
	flex-direction: column
	text-align: center
	h2
		font-family: $default-bold
		font-size: 28px
		line-height: 28px
		text-transform: uppercase
		color: #5084A3
		margin-bottom: 10px
		white-space: nowrap
.sub_title
	text-align: center
	i.fa.fa-heart-o
		color: #b6b9bb
		margin: 0 7px 0
	&::before
		content: ""
		display: inline-block
		vertical-align: middle;
		border-top: 1px solid #b6b9bb
		width: 40%
	&::after
		content: ""
		display: inline-block
		vertical-align: middle;
		border-top: 1px solid #b6b9bb
		width: 40%
.img-responsive
	display: block
	max-width: 100%
	height: auto
.loader
	background: none repeat scroll 0 0 #fff
	width: 100%
	height: 100%
	position: fixed
	top: 0
	right: 0
	z-index: 999
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
.loader_inner
	background: url('../img/loader.gif') no-repeat center center 
	background-size: cover
	width: 400px
	height: 400px
	

@import "media" // Всегда в конце
